<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="inti2008.Data.Properties.Settings.inti2008ConnectionString" connectionString="Data Source=pc047;Initial Catalog=inti2008;User ID=inti;Password=brollan1" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
